<header>
    <nav>
        <ul class="nav-links">
            <li><a class = "a" href="/">Home</a></li>
            <li><a class = "a" href="/users">Users</a></li>
            <li><a class = "a" href="/teams">Teams</a></li>
            <li><a class = "a" href="/usersToTeams">Assign User To Team</a></li>
        </ul>
    </nav>
    <a class="contact-link" href="/login"><button class="contact-button">Login</button></a>
    <a class="contact-link" href="/register"><button class="contact-button">Register</button></a>
</header>