<header>
    <nav>
        <ul class="nav-links">
            <li><a class = "a" href="/homepage">Home</a></li>
            <li><a class = "a" href="/users">Users</a></li>
            <li><a class = "a" href="/teams">Teams</a></li>
            <li><a class = "a" href="/projects">Projects</a></li>
        </ul>
    </nav>
    <a class="contact-link" href="/register"><button class="contact-button">Register</button></a>
    <a class="contact-link" href="/"><button class="logout-button">Logout</button></a>

</header>