<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/form_style.css">
    <title>Create Project</title>
</head>
<body>
    
    <%- include('partials/header') %>

    <div class="login">
        <form name = "registration-form" class="contact-form" method="POST" action="/tasks">
            <input type="text" name="Title" id="Title" placeholder="Title" required>
            <textarea name="Description" placeholder="Description" cols="30" rows="10" required></textarea>
            <input type="number" name="ProjectsId" id="ProjectsId" placeholder="ProjectsId" required>
            <input type="number" name="AssigneeId" id="AssigneeId" placeholder="AssigneeId" required>
            <input class="submit" type="submit" value = "Create and Assing Task">
        </form>
    </div>

</body>
</html>