<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index_page.css">
    <link rel="stylesheet" href="css/form_style.css">
    <title>Main Page</title>
</head>
<body>
    <%- include('partials/header') %>

    <div class="form-container">
        <a class="contact-link" href="/create_project"><button class="contact-button">Create Project</button></a>
    </div>

    <div class="form-container">
        <a class="contact-link" href="/create_task"><button class="contact-button">Create Task</button></a>
    </div>

    <div class="form-container">
        <a class="contact-link" href="/usersToTeams"><button class="contact-button">Assign User to Team</button></a>
    </div>

    <div class="form-container">
        <a class="contact-link" href="/teamsprojects"><button class="contact-button">Assign Team to Project</button></a>
    </div>

</body>
</html>