<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/users_table.css">
    <title>Users list</title>
</head>
<body>

    <h1 class = "UserListLable">Users list</h1>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Full Name</th>
                </tr>
            </thead>
            <tbody>
                <%for(let i = 0; i < userList.length; i++) { %> 
                    <tr>
                        <td><%=userList[i].Username%></td>
                        <td><%=userList[i].First_Name%> <%=userList[i].Last_Name%></td>
                    </tr>
                <%}%>
            </tbody>

        <table>
    </div>
</body>
</html>