<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index_page.css">
    <link rel="stylesheet" href="css/form_style.css">
    <title>Login to continue</title>
</head>
<body>

    <div class="login center-form">
        <form name = "registration-form" class="contact-form" method="POST" action="/login">
            <input type="text" name="Username" id="Username" placeholder="Username" required value="admin">
            <input type="password" name="Password" id="Password" placeholder="Password" required value="adminpass">
            <input class="submit" type="submit" value = "Login">
        </form>
    </div>

</body>
</html>