<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/form_style.css">
    <title>Register</title>
</head>
<body>

    <div class="login">
        <form name = "registration-form" class="contact-form" method="POST" action="/register">
            <input type="text" name="Username" id="Username" placeholder="Username" required>
            <input type="text" name="First_Name" id="First_Name" placeholder="First name" required>
            <input type="text" name="Last_Name" id="Last_Name"  placeholder="Last name" required>
            <input type="password" name="Password" id="Password" placeholder="Password" required>
            <input class="submit" type="submit" value = "Register">
        </form>
    </div>

</body>
</html>