html {
	height: 100%
}

body
{
    background-repeat: no-repeat, repeat;
    background-color: #bcd5db;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.login {
	background: #eceeee;
	border: 1px solid #42464b;
	border-radius: 6px;
	height: 30%;
	margin: 20px auto 0;
	width: 300px;
}

.login h1 {
	background-image: linear-gradient(top, #eaeeee, #d4dae0);
	border-bottom: 1px solid #a6abaf;
	border-radius: 6px 6px 0 0;
	box-sizing: border-box;
	color: #727678;
	display: block;
	height: 43px;
	font: 600 14px/1 'Open Sans', sans-serif;
	padding-top: 14px;
	margin: 0;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 #fff;
}

input[type="password"],
input[type="text"] {
	background: url('http://i.minus.com/ibhqW9Buanohx2.png') center left no-repeat, linear-gradient(top, #d6d7d7, #dee0e0);
	border: 1px solid #a1a3a3;
	border-radius: 4px;
	box-shadow: 0 1px #fff;
	box-sizing: border-box;
	color: #696969;
	height: 39px;
	margin: 31px 0 0 29px;
	padding-left: 37px;
	transition: box-shadow 0.3s;
	width: 240px;
}

input[type="password"]:focus,
input[type="text"]:focus {
	box-shadow: 0 0 4px 1px rgba(55, 166, 155, 0.3);
	outline: 0;
}

input[type="number"],
input[type="number"] {
	background: url('http://i.minus.com/ibhqW9Buanohx2.png') center left no-repeat, linear-gradient(top, #d6d7d7, #dee0e0);
	border: 1px solid #a1a3a3;
	border-radius: 4px;
	box-shadow: 0 1px #fff;
	box-sizing: border-box;
	color: #696969;
	height: 39px;
	margin: 31px 0 0 29px;
	padding-left: 37px;
	transition: box-shadow 0.3s;
	width: 240px;
}

input[type="number"]:focus,
input[type="number"]:focus {
	box-shadow: 0 0 4px 1px rgba(55, 166, 155, 0.3);
	outline: 0;
}

textarea,
textarea {
	background: url('http://i.minus.com/ibhqW9Buanohx2.png') center left no-repeat, linear-gradient(top, #d6d7d7, #dee0e0);
	border: 1px solid #a1a3a3;
	border-radius: 4px;
	box-shadow: 0 1px #fff;
	box-sizing: border-box;
	color: #696969;
	margin: 31px 0 0 29px;
	padding-left: 37px;
	transition: box-shadow 0.3s;
	width: 240px;
}

textarea:focus,
textarea:focus {
	box-shadow: 0 0 4px 1px rgba(55, 166, 155, 0.3);
	outline: 0;
}

.toggle {
	background: url(http://i.minus.com/ibitS19pe8PVX6.png) no-repeat;
	display: block;
	height: 16px;
	margin-top: -20px;
	width: 87px;
	z-index: -1;
}

input[type="submit"] {
	width: 240px;
	height: 35px;
	display: block;
	font-family: Arial, "Helvetica", sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 1px 1px 0px #37a69b;
	padding-top: 6px;
	margin: 29px 0 0 29px;
	position: relative;
	cursor: pointer;
	border: none;
	background-color: #37a69b;
	background-image: linear-gradient(top, #3db0a6, #3111);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #497a78, 0px 10px 5px #999;
}

input[type="submit"]:active {
	top: 3px;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #31524d, 0px 5px 3px #999;
}

li,a,button
{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1% 10%;
}

.nav-links
{
    list-style: none;

}

.nav-links li
{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a
{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover
{
    color: #0088a9;
}

.contact-button
{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0,126,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.contact-button:hover
{
    background-color: rgba(0,126,169,0.8);
}

.form-container
{
	display: flex;
	align-items: center;
 	justify-content: center;
}

.dropbtn {
	background-color: #04AA6D;
	color: white;
	padding: 10px;
	font-size: 10px;
	border: none;
	border-radius: 10px;
  }
  
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  .logout-button
{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgb(192, 33, 4);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.logout-button:hover
{
    background-color: rgb(207, 39, 6);
}